# IDE - Android Studio
.idea/
*.iml
*.ipr
*.iws

# Build outputs
build/
bin/
gen/
out/
.gradle/

# Local configuration
local.properties
.DS_Store

# Android Specific
/captures
.externalNativeBuild
.cxx